h3 {
  text-align: center;
}

body {
  font-family: 'Lora', serif;
  color: #000;
}

a, a:hover, a:visited {
  color: #000;
  text-decoration: none;
  cursor: url('/assets/images/eye.png'), auto;
}

.sort {
  text-align: right;
  margin-bottom: 20px;
}

.thumbnail {
  height: 430px;
}

.thumbnail-image {
  width: 230px !important;
  height: 345px !important;
  margin-bottom: 10px;
}

.book-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px !important;
}

.book-title, .book-author, .book-price {
  margin-left: 4px;
}

.item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px !important;
  margin: 0 !important;
  padding-left: 0 !important;
  padding-right: 5px !important;
}

.remove, .add {
  width: 15px;
  margin-bottom: 3px;
}

.remove-col {
  padding-right: 0 !important;
}

.quantity {
  padding-left: 8px;
  padding-right: 2px;
  text-align: center;
}

.add-col {
  padding-left: 0 !important;
}

.price {
  padding-left: 0 !important;
}

.btn, .btn:hover, .btn:focus {
  background: #FFF;
  color: #000;
  border: 1px solid #000;
  box-shadow: 1px 1px;
}

.breadcrumb {
  background: #FFF !important;
}

#logo {
  width: 15%;
  display: block;
  margin: 0 auto 20px;
}

#cart-image {
  width: 15%;
  display: block;
  margin: 40px auto 20px;
}

#menu {
  margin-left: 33%;
}

#footer {
  text-align: center;
}

#main {
  margin-top: 20px;
  margin-bottom: 20px;
}

#checkout {
  margin-top: -0.5em !important;
}

#total {
  margin: auto 2% auto 2%;
}

#synopsis {
  margin-top: 1.5%;
  margin-left: 0.5%;
}

#checkoutModal {
  margin-top: 200px;
}
