h3 {
  text-align: center;
}

body {
  font-family: 'Lora', serif;
  color: #000;
}

a, a:hover, a:visited {
  color: #000;
  text-decoration: none;
  cursor: url('/assets/images/eye.png'), auto;
}

.thumbnail {
  height: 445px;
}

.item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px !important;
  margin: 0 !important;
  padding-left: 0 !important;
  padding-right: 5px !important;
}

.delete {
  width: 20px;
}

.price {
  padding-left: 0 !important;
}

.btn, .btn:hover, .btn:focus {
  background: #FFF;
  color: #000;
  border: 1px solid #000;
  box-shadow: 1px 1px;
}

#logo {
  width: 15%;
  display: block;
  margin: 0 auto 20px;
}

#cart-image {
  width: 15%;
  display: block;
  margin: 40px auto 20px;
}

#menu {
  margin-left: 33%;
}

#footer {
  text-align: center;
}

#main {
  margin-top: 50px;
  margin-bottom: 50px;
}

#checkout {
  margin-top: -0.5em !important;
}

#total {
  margin: auto 2% auto 2%;
}

#synopsis {
  margin-top: 1.5%;
  margin-left: 0.5%;
}
