h3 {
  text-align: center;
}

body {
  font-family: 'Lora', serif;
  color: #000;
}

a, a:hover, a:visited {
  color: #000;
  text-decoration: none;
  cursor: url('/assets/images/eye.png'), auto;
}

#logo {
  width: 15%;
  display: block;
  margin: 0 auto 20px;
}

#cart-image {
  width: 8%;
  display: block;
  margin: 20px auto;
}

#menu {
  margin-left: 80px;
}

#footer {
  text-align: center;
}
