<div class="container">
  <header id="header">
    <h3>{{#link-to 'index'}}Verbatim{{/link-to}}</h3>
    <hr>
  </header>

  <div class="row">
    <div id="sidebar" class="col-sm-3">
      <div>
        {{#link-to 'index'}}<img id="logo" src="/assets/images/book.svg" alt="Verbatim">{{/link-to}}
        <p id="menu">
          <span>BESTSELLERS</span><br>
          <span>FICTION</span><br>
          <span>NONFICTION</span>
        </p>
      </div>
      <div id="shopping-cart">
        <p>
          <img id="cart-image" src="/assets/images/shopping-cart.svg" alt="Shopping Cart">
          {{display-cart}}
        </p>
      </div>
    </div>
    <div id="content" class="col-sm-8">
      {{outlet}}
    </div>
  </div>

  <footer id="footer">
    <hr>
    <h6>&copy; 2016 Verbatim</h6>
  </footer>
</div>
