<div class="container">
  <header id="header">
    <h3>{{#link-to 'index'}}Verbatim Books{{/link-to}}</h3>
    <hr>
  </header>

  <div id="main" class="row">
    <div id="sidebar" class="col-sm-3">
      <div>
        {{#link-to 'index'}}<img id="logo" src="/assets/images/book.svg" alt="Verbatim Books">{{/link-to}}
        <p id="menu">
          {{#link-to 'fiction'}}<span>Fiction</span><br>{{/link-to}}
          {{#link-to 'poetry'}}<span>Poetry</span><br>{{/link-to}}
          {{#link-to 'mystery'}}<span>Mystery</span><br>{{/link-to}}
          {{#link-to 'horror'}}<span>Horror</span><br>{{/link-to}}
          {{#link-to 'biography'}}<span>Biography</span><br>{{/link-to}}
        </p>
      </div>
      <div id="shopping-cart">
        <p>
          <img id="cart-image" src="/assets/images/shopping-cart.svg" alt="Shopping Cart">
          {{display-cart}}
        </p>
      </div>
    </div>
    <div id="content" class="col-sm-9">
      {{outlet}}
    </div>
  </div>

  <footer id="footer">
    <hr>
    <h6>&copy; 2016 Verbatim Books</h6>
  </footer>
</div>
