<div class="container">
  <header id="header">
    <h3>{{#link-to 'index'}}Verbatim Books{{/link-to}}</h3>
    <hr>
  </header>

  <div id="main" class="row">
    <div id="sidebar" class="col-sm-3">
      <div>
        <img id="logo" src="/assets/images/book.svg" alt="Verbatim">
        <p id="menu">
          {{#link-to 'index'}}<span>View All</span>{{/link-to}}<br>
          <span>Fiction</span><br>
          <span>Poetry</span><br>
          <span>Mystery</span><br>
          <span>Horror</span><br>
          <span>Biography</span>
        </p>
      </div>
      <div id="shopping-cart">
        <p>
          <img id="cart-image" src="/assets/images/shopping-cart.svg" alt="Shopping Cart">
          {{display-cart}}
        </p>
      </div>
    </div>
    <div id="content" class="col-sm-8">
      {{outlet}}
    </div>
  </div>

  <footer id="footer">
    <hr>
    <h6>&copy; 2016 Verbatim Books</h6>
  </footer>
</div>
