<div class="container">
  <header id="header">
    <h3>Verbatim</h3>
  </header>

  <div class="row">
    <div id="sidebar" class="col-sm-3">
      <div>
        <img id="logo" src="assets/images/book.svg" alt="Verbatim">
        <p id="menu">
          <span>BESTSELLERS</span><br>
          <span>FICTION</span><br>
          <span>NONFICTION</span>
        </p>
      </div>
      <div id="shopping-cart">
        <p>
          <img id="cart-image" src="assets/images/shopping-cart.svg" alt="Shopping Cart">
        </p>
      </div>
    </div>
    <div id="content" class="col-sm-8">
      {{outlet}}
    </div>
  </div>

  <footer id="footer">
    <h6>&copy; 2016 Verbatim</h6>
  </footer>
</div>
